* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.box {
  display: flex;
  justify-content: center;
}
.leaderboard {
  width: 100%;
  height: 100%;
}
.player {
  font-size: 30px;
}
.leadersign {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-right: 100px;
}
img {
  height: 100%;
  width: 400px;
}
.custom-table {
  border-bottom-right-radius: 10%;
  border-bottom-left-radius: 10%;
  border-collapse: separate;
  border-spacing: 80px 25px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  width: 100%;
  text-align: center;
}
.table {
  width: 100%;
  height: 100%;
}
.medals {
  width: 40px;
}
@keyframes animate {
  0% {
    transform: translateY(110vh) scale(0);
  }
  200% {
    transform: translateY(-200vh) scale(1);
  }
}
.buttton {
  display: flex;
  justify-content: center;
}
button {
  width: 200px;
  padding: 15px 0;
  text-align: center;
  margin: 20px 10px;
  border-radius: 10px;
  font-weight: bold;
  border: 2px solid greenyellow;
  background: transparent;
  color: #010101;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}
span {
  background: greenyellow;
  height: 100%;
  width: 0;
  border-radius: 10px;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: -1;
  transition: 0.5s;
}
button:hover span {
  width: 100%;
}
button:hover {
  border: none;
}

.button-container {
  text-align: center;
  margin-top: 20px; /* Adjust the margin as needed */
}

#homeBtn {
  /* Add any specific button styles here if needed */
}

.medal {
  text-align: center;
}

.medal.gold::before {
  content: '\1F947'; /* Unicode for gold medal */
  font-size: 24px;
  display: block;
}

.medal.silver::before {
  content: '\1F948'; /* Unicode for silver medal */
  font-size: 24px;
  display: block;
}

.medal.bronze::before {
  content: '\1F949'; /* Unicode for bronze medal */
  font-size: 24px;
  display: block;
}

#leaderboardBody tr:nth-child(1) td:nth-child(1),
#leaderboardBody tr:nth-child(2) td:nth-child(1),
#leaderboardBody tr:nth-child(3) td:nth-child(1) {
  display: none;
}