* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Courier New", Courier, monospace;
  text-align: center;
  background: #0c192c;
}

#board {
  background-image: url("./hyperbirdbg.jpg");
  background-size: cover;
}

.header {
  margin-top: 30px;
}

#title {
  font-size: 100px;
  color: #ff2d75;
}